@charset "EUC-KR";

.comments li {
	list-style-type: none;
}

.comm_one .coco_img, .comm_one .cmt_box {
	float: left;
}

.comm_nick {
	width: 300px;
}

.comm_top_space {
}

.comm_btn_wrap {
	width: 200px;
}

.comm_btn_wrap span {
	float: right;
}
