@charset "UTF-8";
	
.game-header{
	margin: 5% 0% 0% 0%;
	display: flex;
	align-content: center;
	justify-content: center;
	text-align: center;
}

.game-header div{
	display: flex;
	align-content: center;
}

.game-header p{
	align-self: center;
	margin: auto;
}

.btn-start{
	background: url('../assets/img/crayon_green.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 200px;
	height: 50px;
	border: none;
}

.btn-rank{
	background-image: url('../assets/img/crayon_crown.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 180px;
	height: 50px;
	border: none;
	background-color: #FDFBF9;
	margin: 5% auto;
	background-position: 45% 90%;
}

.word-start{
	background-image: url('../assets/img/crayonline_beige.PNG');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
	height: 50px;
	align-items: center;
	justify-content: center;
	margin: auto;
	display: flex;
}

.word-input{
	float: left;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 5% 0% 0% 0%;
}

.word-input-div{
	background-image: url('../assets/img/crayonline_green.PNG');
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	align-content: center;
}

.word-input input{
	border: 0;
	outline: none;
	background: transparent;
	text-align: center;
}

.word-input input::placeholder{
	color: #000;
}

li{
	list-style: none;
}

#gameContent{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text-time{
	margin-left: 60%;
	background-image: url('../assets/img/crayonline_yellow.PNG');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.text-time p{
	padding-top: 10px;
}

#wordList{
	margin: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 0;
}

#wordList li{
	background-image: url('../assets/img/crayonline_lightpurple.PNG');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}