@charset "EUC-KR";

.side_icon {
	width: 40px !important;
	height: 40px !important;
	border-radius: 10px !important;
}

.side_menu {
	font-size: 15px !important;
	padding-left: 5px !important;
	position: absolute !important;
	top: 25% !important;
	left: 30% !important;
}

.side_list {
	padding: 3px 5px !important;
}