@charset "UTF-8";

.menu{
	list-style-type: none;
	margin: 20px 10px;
	padding: 0;
}

.menu:after {
	content: '';
	display: block;
	clear: both;
}

.menu li {
	float: left;
}

.menu li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.memberUpDel {
	list-style-type: none;
}
